The step on how to fetch the token issuer (`iss` is an URL of the Authorization server) public keys are done via the Authorization server's `public keys endpoint`, which is described in https://specs.amwa.tv/is-10/releases/v1.0.0/docs/4.1._Behaviour_-_Authorization_Servers.html#authorization-server-public-keys. In the spec we mention `RFC 8414 section 3` is because the `public keys endpoint` is specified inside the Authorization server's metadata. So therefore to obtain the server's public keys, we need to obtain the Authorization server's metadata first. The `Authorization server metadata endpoint` is constructed by the `iss`/.well-known/example-configuration.

The `kid` specified in the `JWT header` shows which key was used to encode it. The `kid` can be used to locate the matching key in the Authorization server's `jwks` for JWT validation.

(When presented with a JWT, what is to prevent it having an `iss` identifying a rogue authorization server? An auth server can have a valid chain of trust confirming its identity, while still being inappropriate for the system in question, I would have thought... This is a separate issue though... Now added as https://github.com/AMWA-TV/is-10/issues/114.)

> "it SHOULD attempt to obtain the missing public key via the the token iss claim as specified in RFC 8414 section 3"

Personally, my confusion was that this explanation skips over the step of fetching the JSON Web Key Set (JWKS) from the `jwks_uri` after having fetched the authorization server metadata for the issuer identified by the `iss` claim using the `.well-known` mechanism, which is the bit specified by RFC 8414 section 3. It doesn't help that "public key" and "JWKS" are not immediately obvious synonyms.

Looks like it will need correction or clarification
Architecture Review Group review: place on backlog

Fixed by #115 