Typo in Clients Behaviour section

The first sentence of the "Client Credentials" section of the "Behaviour: Clients" says:

Confidential Clients SHOULD support authentication using a digitally signed JSON Web Token, to authenticate with the Authorization Server’s token and revocation endpoints in the manner described in Section 2.2 of RFC 7523

The text of the link at the end of this section says RFC7523, but the link itself is going to RFC7591 - I assume that's a copy/paste error?

Thanks for spotting that. I've pushed a PR which should fix it.