Merged

> It also states that the value of the "token_type" field should be case-insensitive, due to some OTS Auth Servers producing a value of "bearer" instead of "Bearer"

:+1: That is as per [RFC 6749 Section 5.1](https://tools.ietf.org/html/rfc6749#section-5.1).