Error Codes for invalid token

In the token_error_response scheme, https://github.com/AMWA-TV/nmos-authorization/blob/v1.0-dev/APIs/schemas/token_error_response.json, we have error defined as

```
"error": {
      "description": "Error Type",
      "type": "string",
      "enum": ["invalid_request", "invalid_client", "invalid_grant", "unauthorized_client", "unsupported_grant_type", "invalid_scope", "unsupported_token_type"]
    },
```
I guess the enum set are defined by our group,  but not from the RFC6750, https://tools.ietf.org/html/rfc6750#section-3.1, as it is only allowed to have **invalid_request**, **invalid_token** and **insufficient_scope**?

1. Should we also have the invalid_token in our enum set, in event of incorrect issuer and incorrect audience?
2. Maybe we should clarify what error should be used in the spec?

I think the token_error_response.json file only highlights errors for requests made to the token endpoint on the Authorization Server itself @simonlo-sony , as defined in RFC 6749 (https://tools.ietf.org/html/rfc6749#page-45). 

RFC 6750, section 3.1, defines the list of error responses given from a Resource Server. I think it would definitely be useful to highlight this _somewhere_ but not quite sure where that would be. Up until now this repository has only really governed the API / schemas / examples of requests and responses from the Auth Server itself.

> I think the token_error_response.json file only highlights errors for requests made to the token endpoint on the Authorization Server itself @simonlo-sony , as defined in RFC 6749 (https://tools.ietf.org/html/rfc6749#page-45).
> 
> RFC 6750, section 3.1, defines the list of error responses given from a Resource Server. I think it would definitely be useful to highlight this _somewhere_ but not quite sure where that would be. Up until now this repository has only really governed the API / schemas / examples of requests and responses from the Auth Server itself.

Thank you so much for pointing it out.

I was going to add to this, I don't think RFC6750 goes this far, but as our APIs all use JSON we may wish to mandate in the Resource Server docs that error responses use a JSON format. We could then point at a suitable schema (similar to the auth server one but with a different enum).

I believe this is resolved. Please re-open if not.